extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      p.auth-helper.ma-bt-md Enter your email address and we'll send you a reset link.
      form.form.form--forgot-password
        .form__group.ma-bt-md
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Send reset link
      p.auth-switch
        span.auth-switch__text Remembered it?
        a.auth-switch__link(href='/login') Back to login
