extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--reset-password(data-token=token)
        .form__group.ma-bt-md
          label.form__label(for='password') New password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Reset password
      p.auth-switch
        span.auth-switch__text Remembered it?
        a.auth-switch__link(href='/login') Back to login
